@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
.img-responsive {
  width: 150px;
}
.main-gallery-item {
  margin-bottom: 40px;
}
#features {
  padding: 50px 0px 0px 0px;
}
.modal-text {
  margin-top: 25px;
}